multitenancy_enabled: false

server:
  http_listen_port: 9009
  grpc_listen_port: 9095

common:
  storage:
    backend: filesystem
    filesystem:
      dir: /var/mimir/common

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /var/mimir/blocks

ingester:
  ring:
    replication_factor: 1
